<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
</head>
<body>
  <script>
    <!-- Makes server state available as window.__SERVER_STATE__ -->
    window.__SERVER_STATE__ = <%- serverState %>
  </script>
</body>
</html>
